<?xml version="1.0"?>
<!DOCTYPE Configure PUBLIC "-//Jetty//Configure//EN" "http://www.eclipse.org/jetty/configure_9_0.dtd">
 
<Configure class="org.eclipse.jetty.webapp.WebAppContext">

  <!-- For some reason, it do not use system classpath, meaning I have to put this manually. -->
  <Set name="extraClasspath">/usr/share/java/postgresql-jdbc.jar</Set>

  <!-- Configure data source mapping -->
  <New id="datasource" class="org.eclipse.jetty.plus.jndi.Resource">
    <Arg>jdbc/default</Arg>
    <Arg>
      <New class="org.apache.commons.dbcp.BasicDataSource">
        <Set name="driverClassName">org.postgresql.Driver</Set>
        <Set name="url">jdbc:postgresql:katmana</Set>
        <Set name="username">katmana</Set>
        <Set name="password">katmana</Set>
        <Set name="validationQuery">SELECT 1</Set>
      </New>
    </Arg>
  </New>
 
</Configure>
