<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
         metadata-complete="false"
         version="3.0">
  <display-name>KatMana</display-name>
<!-- 
  Not sure why this is here
  <servlet>
  	<display-name>ReindexPoints</display-name>
  	<servlet-name>ReindexPoints</servlet-name>
  	<servlet-class>com.katmana.servlet.ReindexPoints</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ReindexPoints</servlet-name>
  	<url-pattern>/reindex_points</url-pattern>
  </servlet-mapping>
   -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Need DB -->
  <resource-ref>
 	<description>DB COnnection</description>
 	<res-ref-name>jdbc/default</res-ref-name>
 	<res-type>javax.sql.DataSource</res-type>
 	<res-auth>Container</res-auth>
  </resource-ref>

  <!-- Liquibase stuff -->
  <context-param>
      <param-name>liquibase.changelog</param-name>
      <param-value>db.changelog.yml</param-value>
  </context-param>
  
  <context-param>
      <param-name>liquibase.datasource</param-name>
      <param-value>java:comp/env/jdbc/default</param-value>
  </context-param>
  
  <context-param>
      <param-name>liquibase.onerror.fail</param-name>
      <param-value>true</param-value>
  </context-param>
  
  <context-param>
      <param-name>liquibase.contexts</param-name>
      <param-value>production</param-value>
  </context-param>
  
  <listener>
      <listener-class>liquibase.integration.servlet.LiquibaseServletListener</listener-class>
  </listener>

  <!-- Auth filters -->
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.katmana.servlet.authentication.AuthenticationFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- EntityManagerEmbedder -->
  <filter>
    <filter-name>EntityManagerEmbedderFilter</filter-name>
    <filter-class>com.katmana.filter.EntityManagerEmbedderFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>EntityManagerEmbedderFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
